.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.services .box-container .box{
   text-align: center;
   padding: 4rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: 5rem;
}

.services .box-container .box img{
  border-radius: 5rem;
  padding: 1rem;
   margin: 1.5rem 0;
   height: 35rem;
   transition: 500ms ease;
}



.services .box-container .box h3{
   font-size: 2rem;
   padding:1rem 0;
   color:var(--primary-color);
}

.services .box-container .box p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
}
